@charset "utf-8";

.modal-dialog {
    width: 80%;
}

.openerp .oe_login {
    background-image: none;
}

.openerp .oe_login .oe_login_pane,
.openerp .oe_login .oe_login_dbpane {
    background-color: #454550;
}

.openerp .oe_login .oe_login_bottom {
    background-color: #28262E;
    background-image: none;
}

.openerp .oe_login button {
    background-color: #FF7E00;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff7e00), to(#604b0a));
    background-image: -webkit-linear-gradient(top, #ff7e00, #604B0A);
    background-image: -moz-linear-gradient(top, #ff7e00, #604B0A);
    background-image: -ms-linear-gradient(top, #ff7e00, #604B0A);
    background-image: -o-linear-gradient(top, #ff7e00, #604B0A);
    background-image: linear-gradient(to bottom, #ff7e00, #604B0A);
}

.openerp .announcement_bar {
    display: none;
    visibility: hidden;
}

.openerp .oe_form_sheet_width {
    max-width: 95%;
}

.oe_subtotal_footer_separator {
    width: auto !important;
}

.jamo-jira-button {
  opacity: 0.2;
  position: fixed;
  right: 50px;
  bottom: 0;
  border: 1px solid #ccc;
  border-bottom: none;
  border-right: none;
  background-color: #f5f5f5;
  padding: 3px 6px;
  box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.5);
  display: block;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
}
.jamo-jira-button:hover {
  opacity: 0.9;
} 

.jamo-jira-button > a {
  color: #444 !important;
  font-size: 11px;
  font-weight: bold;
  white-space: nowrap;
  text-decoration: none !important;
  font-family: arial, FreeSans, Helvetica, sans-serif;
}
